
<div class="app__project border border-dark p-3">
       <div class="d-flex justify-content-end mt-1">
              <button
                     class="btn btn-success"
                     data-bs-toggle="modal"
                     data-bs-target="#staticBackdrop"
                     (click)="createTask()"
              >
              Tạo task</button>
       </div>
       <div class="d-flex justify-content-center mt-1">
              <div class="w-75">
                     <table class="table table-bordered text-center">
                            <thead>
                                   <tr>
                                          <th>#</th>
                                          <th>Task Name</th>
                                          <th>Project Name </th>
                                          <th>Employee</th>
                                          <th>Actions</th>
                                   </tr>
                            </thead>
                            <tbody>
                                   <tr *ngFor="let task of tasks; let i = index">
                                          <td>{{i + 1}}</td>
                                          <td>{{task.name}}</td>
                                          <td>{{task.project}}</td>
                                          <td>{{task.employee}}</td>
                                          <td>
                                                 <button
                                                        class="btn btn-primary mx-1"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#staticBackdrop"
                                                        (click)="setValueTask(task._id)"
                                                 >Sửa
                                                 </button>
                                                 <button class="btn btn-danger" (click)="removeTask(task._id)">Xóa</button>
                                          </td>
                                   </tr>
                            </tbody>
                     </table>
              </div>
       </div>
</div>

<div>
       <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                     <div class="modal-content">
                            <form (ngSubmit)="addTask(addTaskForm)" #addTaskForm="ngForm">
                                   <div class="modal-header">
                                          <div class="modal-title" id="staticBackdropLabel">
                                                 <h3 *ngIf="updateIntro.title; else createTitleProject">Cập nhật task</h3>
                                                 <ng-template #createTitleProject>
                                                        <h3>Tạo dự án</h3>
                                                 </ng-template>
                                          </div>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                   </div>
                                   <div class="modal-body">
                                          <div class="mb-3">
                                                 <label class="form-label"><strong>Task Name</strong></label>
                                                 <input
                                                        type="text"
                                                        class="form-control"
                                                        ngModel
                                                        name="name"
                                                        required
                                                        minlength="6"
                                                        #name="ngModel"
                                                        value={{getTaskValue.name}}
                                                 >
                                                 <span
                                                        class="mt-1 text-danger"
                                                        *ngIf="!name?.valid && (name?.dirty || name?.touched)"
                                                 >
                                                 Tên task không hợp lệ !!!</span>
                                          </div>
                                          <div class="mb-3">
                                                 <label class="form-label"><strong>Description</strong></label>
                                                 <textarea
                                                        class="form-control"
                                                        ngModel
                                                        name="description"
                                                        style="height: 100px"
                                                        value={{getTaskValue.description}}
                                                 >
                                                 </textarea>
                                          </div>
                                          <div class="mb-3">
                                                 <label class="form-label"><strong>Projects</strong></label>
                                                 <select class="form-select" ngModel name="project" #project="ngModel" (click)="selectFollow()">
                                                        <option
                                                               *ngIf="getTaskValue.project;
                                                               else selectedProject"
                                                               value={{getTaskValue.project}}
                                                        >
                                                               {{getTaskValue.project}}
                                                        </option>
                                                        <ng-template #selectedProject>
                                                               <option *ngFor="let project of projects" value={{project.name}}>
                                                                      {{project.name}}
                                                               </option>
                                                        </ng-template>
                                                 </select>
                                          </div>
                                          <div class="mb-3">
                                                 <label class="form-label"><strong>Assigned To</strong></label>
                                                 <select class="form-select" ngModel name="employee" #zone="ngModel" (click)="selectFollow()">
                                                        <option
                                                               *ngIf="getTaskValue.employee;
                                                               else selectedEmployee"
                                                               value={{getTaskValue.employee}}
                                                        >
                                                        {{getTaskValue.employee}}
                                                        </option>
                                                        <ng-template #selectedEmployee>
                                                               <option *ngFor="let employee of employees" value={{employee.name}}>
                                                                      {{employee.name}}
                                                               </option>
                                                        </ng-template>
                                                 </select>
                                          </div>
                                          <div class="mb-3">
                                                 <label class="form-label"><strong>Priority</strong></label>
                                                 <select class="form-select" ngModel name="priority" #priority="ngModel" (click)="selectFollow()">
                                                        <option
                                                               *ngIf="getTaskValue.priority;
                                                               else selectedPriority"
                                                               value={{getTaskValue.priority}}
                                                        >
                                                        {{getTaskValue.priority}}
                                                        </option>
                                                        <ng-template #selectedPriority>
                                                               <option value="Normal">Normal</option>
                                                               <option value="Urgent">Urgent</option>
                                                        </ng-template>
                                                 </select>
                                          </div>
                                   </div>
                                   <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                          <div *ngIf="updateIntro.buttonUpdate; else showButton">
                                                 <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Cập nhật task</button>
                                          </div>
                                          <ng-template #showButton>
                                                 <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Tạo task</button>
                                          </ng-template>
                                   </div>
                            </form>
                     </div>
              </div>
       </div>
</div>


